@charset "UTF-8";

body{
    background-color:#2E2EE8;
}

h1{
    color:whitesmoke;
}

h1#principal{
    text-align: center;
    background-color: #12125C;
    color: white;
}

h2{
    color:white;
}

.basico{
    color: rgb(8, 221, 8);
    font-weight: bold;
}

.intermediario{
    color: yellow;
    font-weight: bold;
}

.avancado{
    color: red;
    font-weight: bolder;
}